@font-face {
    font-family: 'Circular-bold';
    src: url(Circular/CircularStd-Bold.otf);
}

@font-face {
    font-family: 'Circular-book';
    src: url(Circular/CircularStd-Book.otf);
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
}

img{
    height: 50px;
    width: 50px;
}

a, p, h1, h2{
    color: white;
    font-family: 'Circular-bold', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 88vh 0vh;
}

.menu{
    display: grid;
    grid-template-rows: 10vh  45vh 33vh;
    grid-column: 1/1;
    width: 170px;
}

.main{
        display: grid;
        grid-template-rows: 10vh 30vh 60vh;
        grid-column: 2/9;
        background-color: #121212;
}

.menu{
    background-color: #000000;
}

.menu > main{
    overflow-y: scroll;
    border-top: 1px solid #404040;
}


.menu > nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-top: 20px;
}

.menu > nav a{
    grid-column: 3/3;
    margin: auto;
    text-decoration: none;
    color: #d3d2d2;
}

.nav{
    grid-column: 2/2;
    height: 30px;
    width: 30px;
    margin: auto;
}

.menu > nav a:hover{
    color: #ffffff;
}

.menu > main a{
    margin: 15px 20px;
    text-decoration: none;
    font-family: 'Circular-book', sans-serif;
    color: #d3d2d2;
}

.menu > main a:hover{
    color: #ffffff;
}

.main > nav{
    background-color: #2A3320;
}

.main > header{
    background-image: linear-gradient(180deg, #2A3320, #121212);
    overflow-y: auto;
}

.main a{
    text-decoration: none;
}

.main a:hover{
    text-decoration: underline;
}

.main h2, a{
    margin-left: 20px;
}

section{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.caixa{
    flex: 1 1 180px;
    background-color: #272727;
    margin: 0 15px 5px 20px;
    border-radius: 5px;
}

.caixa:hover{
    background-color: #424242;
    transition-duration: 0.7s;
    cursor: pointer;
}

.caixa > img{
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 5px 0px 0px 5px
}

.caixa > p{
    margin-top: 35px;
    font-size: 1.3em;
    padding-left: 20px;
    display: inline-block;
}

ul{
    padding-inline-start: 1px;
}

.main{
    overflow-y: scroll;
}

.albuns{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.img-g{
    flex: 1 1 100px;
    background-color: #272727;
    margin: 20px 35px;
    border-radius: 7px;
}

.img-g:hover{
    background-color: #424242;
    transition-duration: 0.7s;
    cursor: pointer;
}

.img-g  p{
    text-align: center;
}

.img-g > img{
    display: block;
    margin: 15px auto 0px auto;
    height: 200px;
    width: 200px;
    border-radius: 5px;
}


#barra{
    margin: 0 auto;
    width: 230px;
    padding-bottom: 9px;
}

#barra > p{
    display: inline-block;
    margin: 0px;
}

#bloco{
    background-color: black;
    display: inline-block;
    margin: 0 4px;
    width: 150px;
    height: 7px;
    border-radius: 6px;
}

.musica{
    height: 50px;
    width: 50px;
}

#footer{
    background-color: #242424;
}

.menu > main > a, .menu > nav > a{
    display: block;
}

.topico{
    font-size: 1.5em;
}

.logo{
    width: 80%;
    padding: 15px;
    height: 43px;
}