@font-face {
    font-family: 'Circular-bold';
    src: url(Circular/CircularStd-Bold.otf);
}

@font-face {
    font-family: 'Circular-book';
    src: url(Circular/CircularStd-Book.otf);
}

body{
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: #121212;
}

img{
    height: 50px;
    width: 50px;
}

h2{
    font-size: 2em;
}

a, p, h1, h2{
    color: white;
    font-family: 'Circular-bold', sans-serif;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background: #585858; 
}

.container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 88vh 0vh;
}

.menu{
    display: grid;
    grid-template-rows: 9vh  42vh 37vh 12vh;
    grid-column: 1/1;
    background-color: #000000;
}

.logo{
    width: 80%;
    padding: 24px 15px;
    height: 43px;
}

.menu > main > a, .menu > nav > a{
    display: block;
}

.menu > main{
    overflow-y: scroll;
    border-top: 1px solid #404040;
    overflow-x: hidden;
}

.menu > nav{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin-top: 20px;
}

.menu > nav a{
    grid-column: 3/3;
    margin: auto 0px auto 15px;
    text-decoration: none;
    font-size: 14px;
    color: #d3d2d2;
}

.menu > nav a:hover{
    color: #ffffff;
    transition-duration: 0.5s;
}

.menu > footer{
    background-color: #181818;
}

.nav{
    grid-column: 2/2;
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 5px;
}


.menu > main a{
    margin: 15px 20px;
    text-decoration: none;
    font-family: 'Circular-book', sans-serif;
    color: #BCBCBC;
    font-size: 14px;
}

.menu > main a:hover{
    color: #ffffff;
}

.main{
        display: grid;
        grid-template-rows: 9vh 41vh 50vh;
        grid-column: 2/9;
        background-color: #121212;
        overflow-y: scroll;
}

.main > nav{
    background-color: #2A3320;
    position: sticky;
}

.main > header{
    background-image: linear-gradient(180deg, #2A3320, #121212);
    overflow-y: auto;
}

.main > main{
    margin-top: 15px;
}


.main h2, a{
    margin-left: 30px;
}

section{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.caixa{
    flex: 1 1 260px;
    background-color: #272727;
    margin: 5px 20px 5px 30px;
    border-radius: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.caixa:hover{
    background-color: #424242;
    transition-duration: 0.7s;
    cursor: pointer;
}

.caixa > img{
    float: left;
    height: 80px;
    width: 80px;
    border-radius: 5px 0px 0px 5px
}

.caixa > p{
    margin-top: 30px;
    font-size: 1em;
    padding-left: 20px;
    display: inline-block;
}

.albuns{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}
.img-g{
    flex: 1 1 150px;
    background-color: #181818;
    margin: 20px 0px 20px 30px;
    border-radius: 7px;
}

.img-g:hover{
    background-color: #333333;
    transition-duration: 0.7s;
    cursor: pointer;
}

.img-g  p{
    text-align: center;
}

.img-g > img{
    display: block;
    margin: 15px auto 0px auto;
    height: 180px;
    width: 180px;
    border-radius: 5px;
}

#barra{
    margin: 0 auto;
}

#barra > p{
    display: inline-block;
    margin: 0px;
    font-size: 11px;
    color: #BCBCBC;
}

#bloco{
    background-color: #4A4D46;
    display: inline-block;
    margin: 0 4px;
    width: 295px;
    height: 6px;
    border-radius: 6px;
}

.musica{
    display: block;
    height: 70%;
    width: 38%;
    margin-left: 20px;
    padding: 10px 0px;
}

.topico{
    text-decoration: none;
    display: block;
    font-size: 1.5em;
    margin-top: 15px;
}

.topico:hover{
    text-decoration: underline;
}

.container > footer{
    grid-column: 2/9;
    background-color: #181818;
    height: 12vh;
}

#player{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

#player > #barra{
    grid-column: 1/9;
    grid-row: 3;
}

.busca{
    grid-column: 2/9;
    overflow-y: scroll;
}

.busca h1{
    margin-left: 20px;
}

.busca > section{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
}

.busca h2 {
    padding: 16px;
    margin: 0;
    font-size: 24px;
}

.generos{
    border-radius: 5px;
    flex: 1 1 190px;
    height: 200px;
    width: 200px;
    margin: 20px;
    cursor: pointer;
}